.home-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "home-left home-right";
    align-items: center;
    text-align: center;
}
.home-left h1{
    font-size: 55px;
}
.home-right{
    grid-area: home-right;
}
@media screen and (max-width: 925px) {
    .home-container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "home-left"
        "home-right";
        justify-content: center;
        align-items: center;
    }
    .home-left{
        width: 80%;
        justify-self: center;
    }
    .home-right img{
        width: 320px;
        padding-top: 4rem;
    }
    .home-left button{
        width: 50%;
    }
}