.games-container-home{
    display: grid;
    grid-template-areas: 
    "game-container game-container game-container";
    margin-bottom: 3rem;
}
.featured-games-title{
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.game-container-home{
    color: rgb(0, 0, 0);
    border-radius: 5px;
    justify-self: center;
    text-align: center;
    margin-bottom: 3rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.144);
    padding: 25px 30px;
}
.game-photo-container img{
    width: 300px;
    border-radius: 5px;
}
.game-title-home{
    font-size: 1.8rem;
}
.price-and-btn{
    display: grid;
    grid-template-columns: 1fr;
}
.price-and-btn a {
    text-decoration: none;
    color: white;
    background-color: #0071DC;
    border: none;
    padding: 0.6em;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}
.price-and-btn button{
    text-decoration: none;
    color: white;
    background-color: #0071DC;
    border: none;
    font-size: 1.5rem;
    cursor: pointer; 
}

.price-and-btn span{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
@media screen and (max-width: 1050px){
    .games-container-home{
        grid-template-areas: 
        "game-container"
        "game-container"
        "game-container";
    }
    .game-photo-container img{
        width: 400px;
    }
}
@media screen and (max-width: 500px){
    .game-photo-container img{
        width: 220px;
    }
}